<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-primary"> Criar nova categoria</a>
    <br>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category =>{ %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <form action="/categories/delete" method="post" style="display: inline;" onsubmit="confirmaDelecao(event,this)">
                            <input type="hidden" name="id" value="<%= category.id %>">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </th>
                </tr>
          <%  })  %>
        </tbody>
    </table>
</div>
<!-- criando função pra confirmar a deleção de um categoria  -->
<script>
     function confirmaDelecao(event,form){
        //  impedindo que o formulario seja submetido 
        event.preventDefault();
       var decisao = confirm("você quer deltar esta categoria ?");
       if(decisao){
           form.submit();
       }
     }
</script>
</html>