<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/navbar.ejs') %> 

<div class="container">
    <h2>Categorias</h2>
    <a href="/admin/categories/new" class="btn btn-primary"> Criar nova categoria</a>
    <br>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% categories.forEach(category =>{ %>
                <tr>
                    <th><%= category.id %></th>
                    <th><%= category.title %></th>
                    <th><%= category.slug %></th>
                    <th>
                        <button class="btn btn-warning">Editar</button>
                        <button class="btn btn-danger">Delete</button>
                    </th>
                </tr>
          <%  })  %>
        </tbody>
    </table>
</div>